{% extends "base.html" %} {% block title %}Login{% endblock %} {% block
    content %}
    <br>
    <h1 align="center">Embed Creator</h1>
    <center>
      <p style="color: white;">This is a embed generator for discord. This really isnt good tbh, but its cool ig?</p>
    </center>>
    <form method="POST">
      <div class="form-group">
        <label for="hook">Webhook</label>
        <input
          type="hook"
          class="form-control"
          id="hook"
          name="hook"
          placeholder="Enter Hook link"
        />
      </div>
      <div class="form-group">
        <label for="title">Embed Title</label>
        <input
          type="title"
          class="form-control"
          id="title"
          name="title"
          placeholder="Enter title"
        />
      </div>
      <div class="form-group">
        <label for="content">Embed Content</label>
        <input
          type="content"
          class="form-control"
          id="content"
          name="content"
          placeholder="Enter content"
        />
      </div>
      <div class="form-group">
        <label for="author">Embed Author</label>
        <input
          type="author"
          class="form-control"
          id="author"
          name="author"
          placeholder="Enter author"
        />
      </div>
      <div class="form-group">
        <label for="color">Embed Color</label>
        <input
          type="color"
          class="form-control"
          id="color"
          name="color"
          placeholder="Enter color, ex: #ffffff"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-dark">Send Embed</button>
    </form>
    {% endblock %}
    